@import url("https://fonts.googleapis.com/css2?family=Benne&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.navbar_common {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  height: 100px;
  width: 100%;
  padding: 0 80px;
  border: 1px solid #cccccc;
}

.navbar_logo {
  height: 100px;
  /* background-color: black; */

  img {
    height: 100%;
  }
}

.navbar_navigations {
  width: 50%;
  /* background-color: blue; */
}

.navigation_menu {
  gap: 80px;
  margin-left: 150px;
  /* background-color: cornflowerblue; */
}

.navigation_links {
  gap: 40px;
}

#banner {
  height: 150px;
  /* background: #CCCCCC; */
}

#info {
  height: 50px;
  background: #f4f4f4;
  padding: 0 80px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.infoText {
  color: #7c7c7d;
}

#info .name {
  min-width: 250px;
}

#info .email {
  min-width: 300px;
}

#info .service {
  min-width: 200px;
}

#info .date {
  min-width: 190px;
}

#info .time {
  min-width: 160px;
}

#cards-section {
  padding: 0px 50px;
}

.card {
  margin: 20px 0px;
  display: flex;
  padding: 12px 24px;
  border: 1px solid #d9d9d9;
}

.card #name {
  /* background: aqua; */
  min-width: 250px;
}

.card #email {
  /* background: aqua; */
  min-width: 300px;
}

.card #service {
  /* background: aqua; */
  min-width: 200px;
}

.card #date {
  /* background: aqua; */
  min-width: 190px;
}

.card #time {
  /* background: aqua; */
  min-width: 160px;
}

.card #status {
  min-width: 200px;
}

.buttons #accept,
#reject {
  padding: 5px 15px;
  font-size: 16px;
  outline: none;
  border: none;
  border-radius: 2px;
}

.buttons #accept,
#reject:hover {
  cursor: pointer;
}

.buttons {
  /* background: #000; */
  width: 450px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#accept {
  background: #13ef55;
  color: #ffffff;
}

#reject {
  background: #ff0404;
  color: #ffffff;
}

select#appointments {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  outline: none;
  cursor: pointer;
}

select#appointments option {
  padding: 10px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
}

select#appointments:focus {
  border: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
